    </div>
    <!-- Footer Start -->
    <footer>
            <div class="footer-content-detail">
                <div class="footer-content-about">
                    <img src="images/newLogo.png" alt="footer-logo">
                    <p class="footer-content">
                        Evolvan is a team of highly experienced, motivated and qualified professionals. 
                        We team up with our clients to realize their dreams/vision the most effective and efficient way. 
                        Our core expertise is anything and everything in Web and Mobile development.
                    </p>
                    <div class="phone">
                        <i class="fas fa-phone-alt"></i>+91-9898989898
                        <!-- <p class="phone-number"></p> -->
                    </div>
                    <div class="mail">
                        <i class="fas fa-envelope"></i>info@evolvan.com
                        <!-- <p class="mail-id"></p> -->
                    </div>
                    <div class="social-links">
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-facebook-f"></i>
                    </div>
                </div>
                <div class="footer-content-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Daily Activities</a></li><hr>
                        <li><a href="#">Events</a></li><hr>
                        <li><a href="#">Trip</a></li><hr>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-content-map">
                    <img src="images/map.jpg" alt="map">
                </div>
            </div>
            <div class="footer-content-copyright">
                &copy;Evolvan 2020
            </div>
    </footer>
    <!-- Footer Ends -->
    <!-- main container Ends -->
    <!-- Script -->
    <script>
        document.querySelector('.menu-btn').addEventListener
        ('click',()=> document.querySelector('.main-menu')
        .classList.toggle('show'));
    </script>
    <script src="js/main.js"></script> 
    </body>
</html>