<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Conversion Evolvan</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/jquery.form.js"></script> 
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    </head>
    <body>

    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
    <div class="menu-btn">
        <i class="fas fa-bars fa-2x"></i>
    </div>
    <!-- main container start -->
    <div class="main-container">
    <header>
        <nav class="navbar">
            <div class="header-logo">
                <img src="images/newLogo.png" alt="header-logo">
                <!-- <h3>Evolvan</h3> -->
            </div>
            <div class="main-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="work">Work</a></li>
                    <li><a href="testimonials">Testimonials</a></li>
                    <li><a href="clients">Clients</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div> 
    </header>