<%- include ('partials/header'); -%>

<div class="upper-div">
      <h1>Please Upload Your File</h1>
      <form id="frmUploader" enctype="multipart/form-data" action="/uploadfile" method="post">
          <input type="file" name="imgUploader" id="imgUploader" multiple />

          <span id = "status"></span>
          <!-- <p>The file extension is: <span id="output"></span></p> -->
          <button type="submit" name="submit" id="btnSubmit" value="Upload">
           
            <span></span>  
            <span></span>  
            <span></span>  
            <span></span>  
            Submit
          </button>
        </form>

    </div>

    <div class="middle-div">
      <h1>Download Uploaded File</h1><br><br>

      <% for(var i=0; i < fileName.length > 0; i++) {%>
       <div class="inner-content">
           <p id="e"><%= fileName[i] %></p><br>
               <form action="/download/<%= fileName[i] %>" method="GET" id="downloadFile">
                 Choose Converting Format : <select class="fileFormat" id = "fileFormat"name="fileExt" onchange="getSelectedValue();">
                     <option value=".pdf">.pdf</option>
                     <option value=".docx">.docx</option>
                     <option value=".doc">.doc</option>
                     <option value=".txt">.txt</option>
                     <option value=".jpg">.jpg</option>
                     <option value=".jpeg">.jpeg</option>
                     <option value=".png">.png</option>
                     <option value=".bmp">.bmp</option>
                     <option value=".tiff">.tiff</option>
                     <option value=".gif">.gif</option>
                     <option value=".csv">.csv</option>
                     <option value=".odt">.odt</option>
                     <option value=".xlsm">.xlsm</option>
                     <option value=".xlsx">.xlsx</option>
                     <option value=".xls">.xls</option>
                     <option value=".ods">.ods</option>
                     <option value=".rtf">.rtf</option>
                     <option value=".wpd">.wpd</option>
                     <option value=".pptx">.pptx</option>
                 </select>
                <button type="submit" value="Download" id="btnDownload">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Download
                </button>
              </form>
       </div><hr>

      <% } %>
    </div>
<%- include ('partials/footer'); -%>

