*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#0d1137;
  max-width: 1200px;
  width: 100%;
  margin: 0;
  margin: auto;
  height: 100vh;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e52165;
  color: white;
  cursor: pointer;
  padding: 1em;
  border-radius: 9px;
}

#myBtn:hover {
  background-color: #fff;
  color: #000;
}
.progress-container {
  width: 100%;
  height: 5px;
  background: #ccc;
}

.progress-bar {
  height: 5px;
  background: #e52165;
  width: 0%;
}
/* .main-container{
  
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: 100vh;
} */
/* ######################################################################### */
                            /* Navigation css */
/* ######################################################################### */
header{
    position: fixed; 
    width: 1200px;
    top: 0;
    z-index: 1;
}
.navbar{
  display: flex;
  align-items: center;
  background:#0d1137;
  justify-content: space-between;
}
.header-logo{
  padding: 5px;
}
.header-logo img{
  width: 80px;
  border-radius: 50%;
}
.main-menu ul{
  display: flex;
}
.main-menu ul li{
  list-style: none;
  padding: 1em;
  font-size: 16px;
  justify-content: flex-end;
}
.main-menu ul li a{
  text-decoration: none;
  color: #fff;
  cursor: pointer; 
}
.main-menu ul li a:hover{
  border-bottom: 1px solid #e52165;
}
.menu-btn{
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #fff;
  z-index: 2;
  display: none;
}
/* ######################################################################### */
                            /* Upper Div Uploading File css */
/* ######################################################################### */
.upper-div{
  background:linear-gradient(120deg, transparent,#e52165);
  color: #fff;
  width: 100%;
  margin-top: 6em;
  height: 500px;
  border-right: 2px solid #fff;
}
.upper-div h1{
  text-align: center;
  /* border-bottom: 2px solid #fff; */
  padding-top: 1.5em;
  position: relative;
  animation: mymove 5s 1;
}
/* Header Animation Start*/
/* @keyframes mymove {
  from {left: -440px;color:#e52165;background: #fff;padding: 1em;}
  to {left: 0; color: #fff;}
} */
/* Header Animation End */
.upper-div #frmUploader{
  text-align: center;
  padding-top: 10em;
}
.upper-div #frmUploader [type="file"]{
  background-color: #0d1137;
  padding: 1em;
  border-top-right-radius: 6% 36%;
  border-bottom-left-radius: 6% 33%;
  cursor: pointer;
}
.upper-div #btnSubmit{
  padding: 1em 2em;
  background-color: #0d1137;
  color: #fff;
  border: none;
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
  border-bottom-left-radius: 16% 33%;
  border-top-right-radius:14% 36%;
}
/* Submit Button Animation Start */
.upper-div #btnSubmit:hover{
  color: #e52165;
  background:#fff;
  box-shadow: 0 0 10px #e52165, 0 0 40px #e52165, 0 0 80px #e52165;
  transition-delay: 1s;
}
.upper-div #btnSubmit span{
  position: absolute;
  display: block;
}
.upper-div #btnSubmit span:nth-child(1){
  top:0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#fff);
}
.upper-div #btnSubmit:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.upper-div #btnSubmit span:nth-child(3){
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#fff);
}
.upper-div #btnSubmit:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.upper-div #btnSubmit span:nth-child(2){
  top:-100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#fff);
}
.upper-div #btnSubmit:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.upper-div #btnSubmit span:nth-child(4){
  bottom:-100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#fff);
}
.upper-div #btnSubmit:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* Submit Button Animation End */
/* ######################################################################### */
                            /* Middle Div Downloading File css */
/* ######################################################################### */
.middle-div{
  padding: 1.5em;
  color: #fff;
  margin-top: .3em;
  border-left: 2px solid #e52165;
}
.middle-div #btnDownload{
  padding: 1em 2em;
  background-color: #e52165;
  color: #fff;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.2s;
  position: relative;
  border-top-left-radius:15% 69%;
  font-weight: bold;
}
/* Download Button Animation Start */
.middle-div #btnDownload:hover{
  color: #e52165;
  background:#fff;
  box-shadow: 0 0 10px #e52165, 0 0 40px #e52165, 0 0 80px #e52165;
  transition-delay: 1s;
}
.middle-div #btnDownload span{
  position: absolute;
  display: block;
}
.middle-div #btnDownload span:nth-child(1){
  top:0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,#fff);
}
.middle-div #btnDownload:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}
.middle-div #btnDownload span:nth-child(3){
  bottom:0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,#fff);
}
.middle-div #btnDownload:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.middle-div #btnDownload span:nth-child(2){
  top:-100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,#fff);
}
.middle-div #btnDownload:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.middle-div #btnDownload span:nth-child(4){
  bottom:-100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,#fff);
}
.middle-div #btnDownload:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/* Download Button Animation End */
.middle-div .inner-content{
  margin-bottom: 1em;
  margin-top: 1em;
}
.fileFormat{
  padding: 0.8em 2em;
  border-top-left-radius:15% 69%;
  background-color: #0d1137;
  color: #fff;
  font-weight: bold;
  border: 2px solid #e52165;
}
.fileFormat:hover{
  background-color: #e52165;
  color:#fff;
  border:2px solid #fff;
  cursor: pointer;
}
.fileFormat option{
  font-weight: bold;
}
.fileFormat option{
  display:none;
}
/* ######################################################################### */
                            /* Footer CSS */
/* ######################################################################### */
.footer-content-detail{
  display: flex;
  height: 100vh;
  background-color: #0d1137;
  width: 100%;
  align-items: center;
}
.footer-content-detail .footer-content-about{
  width: 100%;
  color: #fff;
  padding: .2em;
}
.footer-content-detail .footer-content-about img{
  width: 80px;
  border-radius: 50%;
}
.footer-content-detail .footer-content-about .footer-content{
  font-size: 14px;
  padding-top: 1em;
}
.footer-content-detail .footer-content-about i{
  padding: 2px;
  margin-top: 10px;
}
.footer-content-detail .footer-content-links{
  width: 100%;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border-left: 1px solid #e52165;
  border-right: 1px solid #e52165;
}
.footer-content-detail .footer-content-links h3{
  color: #fff;
}
.footer-content-detail .footer-content-links ul{
  padding: .5em;
  
}
.footer-content-detail .footer-content-links ul li{
  list-style: none;
  padding: .3em;
  font-size:14px ;
}
.footer-content-detail .footer-content-links ul li a{
  text-decoration: none;
  color: #fff;
}
.footer-content-detail .footer-content-links ul li a:hover{
  /* border-bottom: 1px solid #000; */
  padding-left: 1em;
}
.footer-content-detail .footer-content-map{
  width: 100%;
  
  padding-left: 0.3em;

}
.footer-content-detail .footer-content-map img{
  width: 100%;
  padding: .2em;
}
.footer-content-copyright{
  width: 100%;
  height: 10vh;
  padding-top: 1em;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
/* ######################################################################### */
                          /* media query */
/* ######################################################################### */
@media only screen and (max-width: 1200px) and (min-width: 700px){

}
@media only screen and (max-width: 600px) and (min-width: 400px){
  .menu-btn{
      display: block;
  }
  header .main-menu ul{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f2f2f2;
      width: 50%;
      height: 100%;
      border-right:1px solid #ccc;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
  }
  .main-menu ul li{
      padding: 1em;
      padding-left: 2em;
      border-bottom: 1px solid #000;
      font-size: 14px;
  }
  .main-menu ul li a{
    color:#000;
  }
  .main-menu ul li:last-child{
      border-bottom: 0;
  }
  .main-menu.show ul{
      transform: translateX(-20px); 
  }
  .footer-content-detail{
      display: block;
      justify-content: center;
      text-align: center;
  }
  .footer-content-detail .footer-content-about{
      width: 100%;
  }
  .footer-content-detail .footer-content-links{
      width: 100%;
      margin-top: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      border-top: 1px solid #e52165;
      margin-bottom: 1em;
      border-bottom: 1px solid #e52165;
  }
  .footer-content-detail .footer-content-map{
      width: 100%;
  }
}
